<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${jobForm}" method="post">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input th:field="*{name}" />
            <div th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label th:for="employerId">Employer</label>
            <select th:field="*{employerId}">
                <option th:each="employer : *{employers}"
                        th:value="${employer.id}"
                        th:text="${employer.value}"></option>
            </select>
        </div>

        <!-- TODO #5 - Create <select> dropdowns for other job fields -->

        <div class="form-group">
            <label for="locationId">Location</label>
            <select id="locationId" name="locationId">
                <option value="2">Saint Louis</option>
                <option value="9">Portland</option>
                <option value="13">South Florida</option>
                <option value="17">Rhode Island</option>
                <option value="24">Kansas City</option>
                <option value="46">Seattle</option>
                <option value="78">Anywhere in the US</option>
                <option value="85">New York</option>
            </select>
        </div>

        <div class="form-group">
            <label for="coreCompetencyId">Skill</label>
            <select id="coreCompetencyId" name="coreCompetencyId">
                <option value="4">Statistical Analysis</option>
                <option value="7">Non-coding</option>
                <option value="11">Ruby</option>
                <option value="15">Java</option>
                <option value="22">.Net</option>
                <option value="25">Python</option>
                <option value="31">Android</option>
                <option value="34">Javascript</option>
                <option value="38">Database</option>
                <option value="47">iOS</option>
                <option value="54">PHP</option>
                <option value="87">Ruby, Javascript</option>
            </select>
        </div>

        <div class="form-group">
            <label for="positionTypeId">Position Type</label>
            <select id="positionTypeId" name="positionTypeId">
                <option value="3">Data Scientist / Business Intelligence</option>
                <option value="6">Technical Assistant / User Support</option>
                <option value="10">Web - Front End</option>
                <option value="14">Web - Full Stack</option>
                <option value="18">Project Manager / Analyst</option>
                <option value="21">Software / Enterprise Developer</option>
                <option value="29">Quality Assurance Analyst</option>
                <option value="30">Mobile Developer</option>
                <option value="36">Web - Back End</option>
                <option value="62">System Admin / DB Admin / Network Support</option>
                <option value="81">Technical Writer</option>
                <option value="86">Other</option>
            </select>
        </div>

        <input type="submit" value="Add Job" />
    </form>

</div>

</body>
</html>